body{
    background-color: rgb(210, 210, 210);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.actualbody{
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 50%;
    height: 700px;
}

.topbar{
    background-color: rgb(54, 72, 231);
    padding: 15px;
}

.tblogo{
    width: 20%;
    height: 20%;
}